.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 20px;
  margin: 25px 0;
  clear: both;
}

.category-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 50%;
}

.category-item--button-container {
  display: flex;
  flex-basis: 30%;
  justify-content: space-around;
  position: relative;
}

.category-item--button {
  padding: 10px;
  background: rgb(19, 15, 15);
  border: none;
  color: #fff;
  font-size: large;
  transition: all 0.3s ease;
}

.category-item--button:hover {
  background-color: #008000;
  cursor: pointer;
}

.actions-menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 10px;
  width: 170px;
  background-color: rgb(19, 15, 15);
  border: 1px solid #000;
  padding: 30px 0;
}

.actions-menu--list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actions-menu--item {
  padding: 10px;
  cursor: pointer;
}

.actions-menu--item:hover {
  color: rgba(255, 255, 255, 0.5);
}
